/*
// .account-nav
*/
@import '../variables';
@import '../functions';

.preloader {
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 998;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.55);
    }

    &::after {
        @include preloader(44px);
    }
}
